article h1, article h2, article h3{
    color: red;
}

aside ul > li > ul > li{
    list-style-type: none;
}

.detournee{
    font-style: italic;
}

.contandante{
    font-weight: bold;
}

#annexes #armes ul > li{
    color: green;
    list-style-type: disc;
}

#annexes #armes ul > li > ul > li{
    color: blue;
    list-style-type: circle;
}

article img {
    width: 1em;
}

aside img{
    width: 20vw;
}

#annexes ul li {
    list-style-type: none;
}